.card-find-user {
    background-color: var(--color-bg-tertiary);
    border-radius: 16px;
    padding: 54px 31px;
    margin-top: 54px;
}

.card-find-user h2 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 12px;
    color: var(--color-font-quartenary);
}
.form-find-user input {
    width: 298px;
    height: 40px;
    border: 1px solid var(--color-border-input);
    border-radius: 4px;
    padding: 8px 17px;
    margin-bottom: 24px;
}
input::placeholder {
    color: var(--color-placeholder);
    font-size: 16px;
}