@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --color-bg-primary: #1890FF;
  --color-bg-sedundary: #ffffff;
  --color-bg-tertiary: #E6F7FF;
  --color-bg-quartenary: #F5F5F5;

  --color-font-primary: #ffffff;
  --color-font-secundary: #000000;
  --color-font-tertiary: #7e7e7e;
  --color-font-quartenary: #262626;
  --color-font-info: #1890FF;
  --color-font-user-info: #737373;

  --color-border-primary: #D9D9D9;

  --color-placeholder: #BFBFBF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--color-bg-sedundary);
}

.container {
  width: 100%;
  max-width: 1271px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  width: 101px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--color-bg-primary);
  color: var(--color-font-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  padding: 0 20px;
}

.font-weigth-normal {
  font-weight: 400;
}